/* Login Bootstrap */
html, body {
	height: 100%;
} 

.login {
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Footer */

#footer {

}

/* Contenido */


.bookList {
	
}

.title {
	display: flex;
	max-width: 80%;
	flex-wrap: wrap;
}

#catalogo {
  margin-bottom: 5%;
}

.sinopsis {
  font-size: 14px;
}

#formRegister {
  max-width: 30%;
  justify-content: center;
}


/* Enlaces */


#dropdown07XL {
	color: white;
}
